<?xml version="1.0"?>
<!--
/**
 * Magenizr Raygun
 *
 * @category  Magenizr
 * @copyright Copyright (c) 2023 Magenizr (https://magenizr.com.au)
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magenizr_Raygun">
        <sequence>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>
